<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<link rel="stylesheet" href="/mdbootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/mdb.min.css" />
		<link rel="stylesheet" href="/mdbootstrap/css/style.css" />
		<style type="text/css">
			body,
			html {
				height: 70%;
			}
		</style>
	</head>

	<body>
		<!-- Start your project here-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <h3 class="font-weight-bold">Registered Clients by <%= username %></h3>
        <hr class="my-2" />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Client ID</th>
              <th scope="col">Client Name</th>
              <th scope="col">Client Secret</th>
              <th scope="col">Redirect URI</th>
            </tr>
          </thead>
          <tbody>
            <% clients.map(function(client, i) { %>
                <tr>
                    <td><%= i %></td>
                    <td><%= client.clientId %></td>
                    <td><%= client.clientName %></td>
                    <td><%= client.clientSecret %></td>
                    <td><%= client.redirectUri %></td>
                </tr>
            <%})%>
          </tbody>
        </table>

        <hr class="my-2" />
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end"><a href="/" class="blue-text ml-1"> Home</a></p>
        </div>
      </div>
    </div>

    <!-- /Start your project here-->

		<script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
	</body>
</html>
